:root {
  --color-primary: #158d97;
  --color-primary--light: #7dbac0;
  --color-secondary: #dfc894;
  --color-secondary--light: #dd4620;
  --color-tertiary: #e04e0f;
  --dark-color: #424b4c;
  --light-color: #effff7;
}

/* Media Query Menager 
   0-600px      Phone
   600-900px    Tablet
   900-1200px   Tablet
   1200-1800    Normal
   1800px + ..  Big Desktop
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}
.link {
  z-index: 999999 !important;
  cursor: pointer;
}
.preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 40rem;
  width: 100%;
  z-index: 2000;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
}

.preview.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3 ease;
}

.preview .preview__image {
  display: flex;
  width: 100%;
}
.preview .preview__image img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.preview .preview__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 12px 10px;
}
.preview .preview__heading .icon {
  color: var(--color-primary);
  cursor: pointer;
  font-size: 20px;
  z-index: 2000;
}
.preview__heading .title {
  display: flex;
  font-size: 1.8rem;
}
.preview__heading .title p {
  margin: 0 5px;
}

.preview__heading .title p.current-img {
  font-weight: 600;
}
.preview__image .slide__gallery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  cursor: pointer;
  color: var(--light-color);
  border: 2px solid var(--light-color);
  margin: 1rem;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.2s ease;
}

.preview__image .slide__gallery:hover {
  background-color: var(--color-primary);
}

.preview__image .slide__gallery.prev {
  left: 0;
}
.preview__image .slide__gallery.next {
  right: 0;
}
.section {
  margin-bottom: 1.5rem;
  border-top: 1px solid #ddd;
  position: relative;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.show {
  opacity: 1;
}
.slide .slide__text {
  position: absolute;
  bottom: 7rem;
  left: -40rem;
  width: 60rem;
  opacity: 0;
  background-color: rgba(52, 136, 129, 0.8);
  color: var(--light-color);
  text-align: center;
  font-family: inherit;
  padding: 3.5rem;
}
.heading--one {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.slide.show .slide__text {
  opacity: 1;
  transform: translateX(90rem);
  transition: all 0.9s ease-in-out 0.8s;
}
.slider__btn button {
  border: 2px solid var(--light-color);
  background-color: transparent;
  color: var(--light-color);
  cursor: pointer;
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s ease;
}
.slider__btn button:hover {
  background-color: var(--color-primary);
  color: var(--light-color);
}
.slider__btn--left {
  position: absolute;
  top: 50%;
  left: 1.5rem;
}
.slider__btn--right {
  position: absolute;
  top: 50%;
  right: 1.5rem;
}
p {
  font-size: 1.3rem;
  font-weight: 700;
}

@media (max-width: 37.5em) {
  .slide .slide__text {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.show .slide__text {
    transform: translateY(-300px);
  }
  p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .slide .slide__text {
    bottom: -200px;
    left: 0;
    width: 100%;
  }
  .slide.show .slide__text {
    transform: translateY(-200px);
  }
  p {
    font-size: 1rem;
  }
}
.slide:first-child {
  background: url("./img/cappadocia-large.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url("./img/maldives-large.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("./img/thailand-large.jpg") no-repeat center top/cover;
}

.heading__two {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-primary--light),
    var(--color-primary)
  );
  letter-spacing: 0.3rem;
  transition: all 0.2s;
  -webkit-background-clip: text;

  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .heading__two {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading__two {
    font-size: 1.5rem;
  }
}

.heading__two:hover {
  cursor: pointer;
  transform: skewY(1.5deg) skewX(12deg) scale(1.1);
  text-shadow: 0.5rem 1rem 3rem var(--dark-color);
}
.center-text {
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  row-gap: 3rem;
}

.image {
  width: 20vh;
  height: auto;
  max-height: 20vh;
  padding: 2rem;
  margin: 3rem;
  box-shadow: 0 1.5rem 4rem var(--dark-color);
  transition: ease 0.2s;
}

@media only screen and (max-width: 56.25em) {
  .image {
    width: 10vh;
    height: auto;
    margin: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .image {
    width: 8vh;
    height: auto;
    margin: 1rem;
  }
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.section--3 {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary--light),
    var(--color-primary)
  );
}

.row__section--3 {
  max-width: 110rem;
  margin: 0 auto;
}

.row__section--3:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row__section--3:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row__section--3 {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.contact {
  background-image: linear-gradient(
      105deg,
      rgba(240, 240, 240, 0.6) 0%,
      rgba(240, 240, 240, 0.6) 50%,
      transparent 50%
    ),
    url(/img/cappadocia.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem var(--dark-color);
}
@media only screen and (max-width: 56.25em) {
  .contact {
    background-image: linear-gradient(
        105deg,
        rgba(240, 240, 240, 0.6) 0%,
        rgba(240, 240, 240, 0.6) 50%,
        transparent 50%
      ),
      url(/img/cappadocia.jpg);
  }
}
@media only screen and (max-width: 37.5em) {
  .contact {
    background-image: linear-gradient(
      105deg,
      rgba(240, 240, 240, 0.6) 0%,
      rgba(240, 240, 240, 0.6) 50%
    );
  }
}

.contact__form {
  width: 50%;
  padding: 6rem;
}
.form__group {
  position: relative;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  color: inherit;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(240, 240, 240, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 75%;
  display: block;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    font-size: 1rem;
    width: 50%;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    font-size: 0.7rem;
    width: 50%;
    padding: 0.5rem 1rem;
  }
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(34, 33, 33, 0.1);
  border-bottom: 3px solid var(--color-primary);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-tertiary);
}

/* Work only on safary and chrome */
.form__input::-webkit-input-placeholder {
  color: var(--dark-color);
}

/* ~ general sibling selector 
   + adjacent sibling selector
*/
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__btn {
  background-color: var(--color-primary);
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.form__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem var(--dark-color);
}
.form__btn::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.form__btn:active .form__btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--dark-color);
}
.icon__message {
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 56.25em) {
  .form__btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .icon__message {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.9rem;
  }
  .icon__message {
    font-size: 0.9rem;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  row-gap: 3rem;
  background-color: rgb(92, 86, 86);
  padding: 10rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
}
.footer__navigation {
  border-top: 1px solid rgb(47, 47, 47);
  padding: 2rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
  text-decoration: none;
}
.footer__item {
  display: inline-block;
}
.footer__link.footer__link:visited {
  color: var(--light-color);
  background-color: var(--dark-color);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover.footer__link:active {
  color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(rgb(5, 5, 5), 0.4);
  transform: rotate(5deg) scale(1.3);
}
