:root {
  --color-primary: #158d97;
  --color-primary--light: #7dbac0;
  --color-secondary: #dfc894;
  --color-secondary--light: #dd4620;
  --color-tertiary: #e04e0f;
  --dark-color: #424b4c;
  --light-color: #effff7;
}

/* Media Query Menager 
   0-600px      Phone
   600-900px    Tablet
   900-1200px   Tablet
   1200-1800    Normal
   1800px + ..  Big Desktop
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.section {
  margin-bottom: 1.5rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 95vh;
  width: 100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.show {
  opacity: 1;
}
.slide .slide__text {
  position: absolute;
  bottom: 7rem;
  left: -30rem;
  width: 60rem;
  opacity: 0;
  background-color: rgba(52, 136, 129, 0.6);
  color: var(--light-color);
  text-align: center;
  font-family: inherit;
  padding: 3.5rem;
}
.heading--one {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.slide.show .slide__text {
  opacity: 1;
  transform: translateX(70rem);
  transition: all 0.7s ease-in-out 0.3s;
}
.slider__btn button {
  border: 2px solid var(--light-color);
  background-color: transparent;
  color: var(--light-color);
  cursor: pointer;
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s ease;
}
.slider__btn button:hover {
  background-color: var(--color-primary);
  color: var(--light-color);
}
.slider__btn--left {
  position: absolute;
  top: 50%;
  left: 1.5rem;
}
.slider__btn--right {
  position: absolute;
  top: 50%;
  right: 1.5rem;
}
p {
  font-size: 1.3rem;
  font-weight: 700;
}

@media (max-width: 37.5em) {
  .slide .slide__text {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.show .slide__text {
    transform: translateY(-300px);
  }
  p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .slide .slide__text {
    bottom: -600px;
    left: 0;
    width: 100%;
  }
  .slide.show .slide__text {
    transform: translateY(-600px);
  }
  p {
    font-size: 1rem;
  }
}
.slide:first-child {
  background: url("./img/cappadocia-large.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url("./img/maldives-large.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("./img/thailand-large.jpg") no-repeat center top/cover;
}

.heading__two {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-primary--light),
    var(--color-primary)
  );
  letter-spacing: 0.3rem;
  transition: all 0.2s;
  -webkit-background-clip: text;

  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .heading__two {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading__two {
    font-size: 1.5rem;
  }
}

.heading__two:hover {
  cursor: pointer;
  transform: skewY(1.5deg) skewX(12deg) scale(1.1);
  text-shadow: 0.5rem 1rem 3rem var(--dark-color);
}
.center-text {
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  row-gap: 3rem;
}

.image {
  width: 30vh;
  height: auto;
  padding: 2rem;
  margin: 3rem;
  box-shadow: 0 1.5rem 4rem var(--dark-color);
  transition: ease 0.2s;
}

@media only screen and (max-width: 56.25em) {
  .image {
    width: 10vh;
    height: auto;
    margin: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .image {
    width: 8vh;
    height: auto;
    margin: 1rem;
  }
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.section--3 {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary--light),
    var(--color-primary)
  );
}

.row__section--3 {
  max-width: 110rem;
  margin: 0 auto;
}

.row__section--3:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row__section--3:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row__section--3 {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.contact {
  background-image: linear-gradient(
      105deg,
      rgba(240, 240, 240, 0.6) 0%,
      rgba(240, 240, 240, 0.6) 50%,
      transparent 50%
    ),
    url(/img/gallery/cappadocia.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem var(--dark-color);
}
@media only screen and (max-width: 56.25em) {
  .contact {
    background-image: linear-gradient(
        105deg,
        rgba(240, 240, 240, 0.6) 0%,
        rgba(240, 240, 240, 0.6) 50%,
        transparent 50%
      ),
      url(/img/gallery/cappadocia.jpg);
  }
}
@media only screen and (max-width: 37.5em) {
  .contact {
    background-image: linear-gradient(
        105deg,
        rgba(240, 240, 240, 0.6) 0%,
        rgba(240, 240, 240, 0.6) 50%,
        transparent 50%
      ),
      url(/img/gallery/cappadocia.jpg);
  }
}

.contact__form {
  width: 50%;
  padding: 6rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  color: inherit;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(240, 240, 240, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 75%;
  display: block;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    font-size: 1rem;
    width: 50%;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    font-size: 0.7rem;
    width: 50%;
    padding: 0.5rem 1rem;
  }
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(34, 33, 33, 0.1);
  border-bottom: 3px solid var(--color-primary);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-tertiary);
}

/* Work only on safary and chrome */
.form__input::-webkit-input-placeholder {
  color: var(--dark-color);
}

/* ~ general sibling selector 
   + adjacent sibling selector
*/
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
